
*{          /*universal selector selects all html elements */
    font-size:100%;
    padding:0;
    margin:0;
    border:0;
}

#container{         /*selects an id*/
    margin: 0 auto;
    padding:3%;
    background-color:#fff;
    max-width:960px;
    
    
}

.responsive-img{
    width: 100%;            /* 100% of the width of the element that contains it.*/
                            /* or the wodth of the browser's window, in case the width of the parent elemnt is not specified */                   
}

body{
    background-color:#6D88A0;
    font-family:;
    line-height: 1.2;
}

header{
    text-align: center;
}
h2, h3, p, nav, blockquote{
    margin-bottom:1em;
    margin-top:1em;
}
p, li, h3{
    line-height: 1.4em;
}
h1{
    list-style-type:none;
    font-family:marlett;
    font-size:2.5em;
}
h2{
    font-size:1.5em;
    font-weight:normal; 
}

nav li{             /*selects li that is nested inside a nav element*/
    list-style-type:none;
    border:solid 1px #fff;
    padding: 10px;
    text-align:center;
}
#content ul{
    padding-left:1em;
}
a{
    color:#447A9E;
    text-decoration: none;
}
a:hover{
    color:pink;
    text-decoration: underline;
}

/* styles below */

@media (min-width:768px) {
    
    #container{
        background-color: 
    }

    .col-3{
        width:32%;
        float:left;
        margin-right:1.3%;
    }
    .col-3-last{
        width:32%;
        float:left;   
    }
    #content{
        overflow:auto;
    }
    footer{
        clear:both;
        margin-top:2em;
        text-align:center;
        font-family:times-new-roman;
        font-size:small;
    }    
        
    nav li{
        display:inLine;
        border:outset;
        border-right:solid 3px #250;
        padding-right:2em;
        padding-left:2em;
        
        
    }   
    
    nav li:last-child{
        border:outset;
    }
    
    nav li a{
        color:
    }
        
    
    nav ul{
        text-align: center;
    }
    
    .float-img{
        float:left;
        margin-right:1em;
        border: groove 5px #fff;
    }
    
} 


